body{
	font-family: "Open Sans", sans-serif;
	background-color: #f8f8f8;
}
/*---------Intro----------*/
.intro{

}

.intro > div{
	padding-top: 4em;
}

.intro-name{
}

#Qile{
	background-color: yellow;
}

#Kyle{
	background-color: orange;
}