body{
	font-family: "Open Sans", sans-serif;
	background-color: #f8f8f8;
}
#wrapper{
	padding-left: 0;
	background-color: yellow;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;	
}

#main{
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

#wrapper.toggled #main{
	 background-color: rgba(0,0,0,0.40);
}


/*---------Nav------------*/
#sidenav-wrapper{
  z-index: 1000;
  position: fixed;
  left: 0;
  width: 0;
  height: 100%;
  margin-left: 0;
  overflow-y: auto;
  background: #4e4e4e;
  color: #ededed;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.sidenav{
	list-style: none;
	height: 100%;
	width: 100%;
	padding-left: 0;
}

.sidenav a{
	width: 100%;
	line-height: 66px;
	font-size: 3.8vh;
	color: #ededed;
	text-align: center;
	overflow: hidden;
}

.sidenav a:link{
	text-decoration: none;
}

.sidenav li a i{
	display: inline-block;
	width: 66px;
	text-align: center;

}

.sidenav li a span{
	display: none;
	opacity: 0;
}

#wrapper.toggled .sidenav li a span{
  transition: none;
  display: inline;
  -webkit-transition: none;
  position: absolute;
  opacity: 1;
  animation: fade-in-left 0.5s ease-out;
  -webkit-animation: fade-in-left 0.5s ease-out;
}

/*---------Intro----------*/
.intro{

}

.intro > div{
	padding-top: 4em;
}

.intro-name{
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

.Qile{
  background-color: yellow;
}

.Kyle{
	background-color: orange;
}

.intro{
	height: 70vh;
	width: 100vw;
}

.about{
	height: 50vh;
	width: 100vw;
	background-color: gray;
}

@media only screen and (min-device-width: 992px){
	#wrapper{
		padding-left: 66px;
	}

	#sidenav-wrapper{
    left: 66px;
    width: 66px;
    margin-left: -66px;
	}

	#wrapper.toggled #sidenav-wrapper{
		left: 300px;
		width: 300px;
		margin-left: -300px;
	}
}

@-webkit-keyframes fade-in-left {
  0% {
    	opacity: 0;
    	transform: translateX(-200px);
	    -webkit-transform: translateX(-200px); 
	}

  100% {
    	opacity: 1;
    	transform: translateX(0);
	    -webkit-transform: translateX(0); 
    }
}

@-moz-keyframes fade-in-left {
  0% {
    	opacity: 0;
    	transform: translateX(-200px);
    	-webkit-transform: translateX(-200px); 
    }

  100% {
    	opacity: 1;
    	transform: translateX(0);
	    -webkit-transform: translateX(0); 
    } 
}

@-o-keyframes fade-in-left {
  0% {
    	opacity: 0;
    	transform: translateX(-200px);
    	-webkit-transform: translateX(-200px); 
	}

  100% {
    	opacity: 1;
    	transform: translateX(0);
    	-webkit-transform: translateX(0);
	} 
}

@keyframes fade-in-left {
  0% {
    	opacity: 0;
	    transform: translateX(-200px);
    	-webkit-transform: translateX(-200px);
    }

  100% {
    	opacity: 1;
    	transform: translateX(0);
    	-webkit-transform: translateX(0);
    }
}